@import '../../variables.scss';

.indicators {
  padding-bottom: 70px;
}

.indicators__name {
  text-align: left;
  color: $yellow;
  text-transform: none;
  font-size: 50px;
  line-height: 55px;
  padding-top: 50px;
  padding-bottom: 30px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.indicators__display {
  text-transform: none;
  color: $yellow;
  font-size: 40px;
  line-height: 45px;
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.indicators__description {
  color: $white;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.indicators__measure {
  font-weight: 300;
}

.indicators__input {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(17, 17, 17, 0.3);
  border: 2px solid #FCD97B;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin: 0;
  padding-bottom: 10px;
  outline: 0;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: none;
  }
}