.content {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    right: 0;
    width: 250px;
    height: 240px;
    background-image: url("../img/content-decor.svg");
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
}

.content__title {
  display: flex;
}

.content__name {
  font-size: 30px;
  line-height: 33px;
  margin-right: auto;
}

.content__description {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 30px;
  padding-right: 15px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 24px;
}

.content__wrapper--narrative,
.content__wrapper--levels,
.content__wrapper--points {
  display: flex;
  height: 100%;
  padding-bottom: 115px;
  padding-top: 15px;
}

.content__wrapper--narrative {
  padding-top: 65px;
  padding-right: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 75px;
    top: 15px;
    display: block;
    width: 96px;
    height: 142px;
    background-image: url("../img/ninja.svg");
    background-repeat: no-repeat;
  }
}

.content__image--narrative,
.content__image--points {
  margin-left: auto;
}

@media (max-width: 991px) {

  .content__image--points {
    width: 201px;
    height: 201px;
  }
}

@media (max-width: 768px) {
  
  .content::after {
    display: none;
  }

  .content__wrapper--narrative,
  .content__wrapper--levels,
  .content__wrapper--points {
    padding-bottom: 60px;
    padding-top: 60px;
    align-items: flex-start;
  }

  .content__wrapper--narrative {

    &::before {
      display: none;
    }
  }

  .content__image--narrative,
  .content__image--points,
  .content__image--levels {
    margin: 0;
    margin-right: auto;
  }

  .content__image--levels {
    width: 216px;
    height: 151px;
  }
}
