.navbar {
  background-color: $back;
  outline: 0;
}

.navbar__logo {
  color: $yellow;
  font-family: $neucha;  
  font-size: 18px;
  line-height: 21px;  
}

.navbar-nav {
  margin-right: 150px;
}

.navbar-toggler {
  border: none;
}

.nav__option {
  color: $white;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 75;
  text-transform: uppercase;

  &--active {
    color: $yellow;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -17px;
      width: 100%;
      height: 2px;
      background-color: $yellow;
      
    }
  }

  &:hover:not(.nav__option--active) {
    color: $yellow-hover;
  }

  &:active:not(.nav__option--active) {
    color: $yellow;
  }
}

@media (max-width: 991px) {

  .navbar-nav {
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 1px solid #9C9C9C;
  }

  .nav-link {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: center;
    position: relative;
  }

  .nav__option--active::after {
    display: none;
  }
}

