.button {
  color: $brown;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $green;
}

.button--levels {
  background-color: $gold;
}