.login {
  color: $black;
  background-color: $white;
  font-size: 18px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 16px;
  padding-left: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 13px;
    display: block;
    width: 23px;
    height: 20px;
    background-image: url("../../img/icon-login.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 991px) {
  .login--display {
    display: none;
  }
}