body {
  min-width: 320px;
  margin: 0;
  display: flex;
	flex-direction: column;
	height: 100%;
  font-family: $baseFont;
  font-size: 18px;
  line-height: 24px;
  background-image: url("../img/back-mini.png");
  background-repeat: repeat;
  background-position: center;
}



main {
  flex-grow: 1;
}

.options {
  display: none;
}

.game {
  display: none;
}

.indicators {
  display: none;
}

.objects {
  display: none;
}

footer {
  flex-grow: 0;
  background-color: $back;
  width: 100%;
  min-height: 100px;
  color: $white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}


@media (min-width: $desktop-width) {
  .options {
    display: block;
  }

  .game {
    display: block;
  }

  .indicators {
    display: block;
  }
  
  .objects {
    display: block;
  }

  .cover {
    display: block;
  }

  .alert {
    display: none;
  }
}



