body {
  min-width: 320px;
  margin: 0;
  font-family: $baseFont;
  font-size: 18px;
  line-height: 24px;
  background-image: url("../img/back-mini.png");
  background-repeat: repeat;
  background-position: center;
}

header {
  background-image: url("../img/head-desk.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 150px;    
}

.options {
  display: none;
}

footer {
  background-color: $back;
  min-height: 100px;
  color: $white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}


@media (min-width: $desktop-width) {
  header {
    min-height: 526px;
  }
  
  .options {
    display: block;
  }
}



