@import '../../variables.scss';

.feedback {
  background-image: url("./img/back-opacity.png");
  background-position: center;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 80px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;

  @media (max-width: 991px) {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 65px;
  }

  @media (max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 55px;
  }
}

.feedback__name {
  font-size: 60px;
  line-height: 66px;
  margin: 0;
  padding: 0;
  text-transform: none;
  color: $yellow;

  @media (max-width: 768px) {
    font-size: 35px;
    line-height: 39px;
    padding-bottom: 30px;
  }
}

.feedback__input,
.feedback__textarea {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(17, 17, 17, 0.3);
    border: 2px solid #FCD97B;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 30px;
    outline: 0;
    cursor: pointer;
}

.feedback__textarea {
  margin-bottom: 60px;

  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
}

.feedback__error {
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  color: $error;
  font-size: 13px;  

}

.feedback__button {
  display: inline-block;
  color: $brown;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 83px;
  padding-right: 35px;
  background-color: $green;
  border: none;
  position: relative;

  &:hover {
    color: rgba(52, 53, 51, 0.8);
  }

  &::before {
    content: "";
    position: absolute;
    left: 28px;
    top: 16px;
    display: block;
    width: 36px;
    height: 20px;
    background-image: url("./img/send-icon.svg");
    background-repeat: no-repeat;
  }
}
