@import './fonts.scss';

$desktop-width: 1040px;
$tablet-width: 768px;
$mobile-width: 320px;
$brown: #343533;
$green: #B1F879;
$white: #FFFFFF;
$black: #000000;
$yellow: #FCD97B;
$yellow-hover: #fcd97bb3;
$gold: #E4C372;
$grey: #444444;
$light-grey: #87837B;
$back: #20232A;
$error: #fa7057;
$baseFont: "Segoe UI", "Gill Sans", sans-serif;
$neucha: "Neucha", "Arial", sans-serif;